@tablet-widths: ~"(min-width: 750px)";
@desktop-widths: ~"(min-width: 1300px)";

@body-bg: ececec;

@main-font-size: 14px;

@main-line-height: 20px;

@main-font-color: #959595;

@header-color: #3a3e3f;